@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RecipeCatalog.Controllers.RecipesController.RecipeEditViewModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    if (Model.Recipe.Id == 0)
    {
        ViewData["Title"] = "Добавить рецепт";
    }
    else
    {
        ViewData["Title"] = Model.Recipe.Name;
    }
}

<h2>
    @(Model.Recipe.Id == 0 ? "Добавить новый рецепт" : "Редактировать рецепт")
</h2>

<form method="post" class="mt-4">
    <div class="form-group">
        @* ID *@
        <input type="hidden" asp-for="Recipe.Id"/>
        @* /ID *@

        @* Название *@
        <label asp-for="Recipe.Name">Название рецепта:</label>
        <input type="text"
               asp-for="Recipe.Name"
               value="@Model.Recipe.Name"
               class="mt-2 form-control @(ViewData.ModelState["Recipe.Name"]?.ValidationState == ModelValidationState.Invalid ? "is-invalid" : "")"
               placeholder="Введите название рецепта"/>
        <div class="invalid-feedback">
            <span asp-validation-for="Recipe.Name" class="text-danger"></span>
        </div>
        @* /Название *@

        @* Описание *@
        <label class="mt-3 mb-2" asp-for="Recipe.Description">Описание:</label>
        <textarea
            id="editor"
            asp-for="Recipe.Description"
            value="@Model.Recipe.Description"
            class="form-control"
            placeholder="Введите описание рецепта">
        </textarea>
        <div class="invalid-feedback d-block">
            <span asp-validation-for="Recipe.Description" class="text-danger"></span>
        </div>
        @* /Описание *@

        @* Категория *@
        <label class="mt-3" asp-for="Recipe.CategoryId">Категория:</label>
        <select asp-for="Recipe.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"
                class="mt-2 form-select @(ViewData.ModelState["Recipe.CategoryId"]?.ValidationState == ModelValidationState.Invalid ? "is-invalid" : "")">
            <option value="">Выберите категорию</option>
        </select>
        <div class="invalid-feedback">
            <span asp-validation-for="Recipe.CategoryId" class="text-danger"></span>
        </div>
        @* /Категория *@
    </div>

    <div class="mt-3 d-flex gap-1">
        <button asp-action="Edit" type="submit" class="btn btn-primary">Сохранить</button>
        @if (Model.Recipe.Id != 0)
        {
            <button asp-action="Delete" type="submit" class="btn btn-danger">Удалить</button>
        }
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'undo', 'redo',
                        '|',
                        'heading', 'bold', 'italic', 'underline',
                        '|',
                        'bulletedList', 'numberedList',
                        '|',
                        'link', 'blockQuote', 'insertTable'
                    ]
                }
            })
            .catch(error => console.error(error));
    </script>
}